.button{
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
  color: #008cff;
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons{
  position: absolute;
  bottom: 0;
  z-index: 9;
  display: none;
}

body{
  width: 100%;
  min-height: 100%;
}

#ui.show{
  display: block !important;
}
